{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es2022": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended"
  ],
  "plugins": ["@typescript-eslint", "sonarjs"],
  "root": true
}
