{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "sonarjs"
  ],
  "root": true
};